@font-face {
    font-family: 'HelveticaNormal';
    src: url('../fonts/HelveticaNormal.eot');
    src: local('0'), url('../fonts/HelveticaNormal.woff') format('woff'),
        url('../fonts/HelveticaNormal.ttf') format('truetype'),
        url('../fonts/HelveticaNormal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.eot');
    src: local('0'), url('../fonts/HelveticaBold.woff') format('woff'),
        url('../fonts/HelveticaBold.ttf') format('truetype'),
        url('../fonts/HelveticaBold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	font-family: HelveticaNormal;
}

.container {
	max-width: 1140px;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

.navbar	{
	display: flex;
	justify-content: space-between;
	margin-bottom: 160px;
}

.logo {
	font-family: HelveticaBold;
	color: #95989a;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.socials a {
	text-decoration: none;
	margin-left: 20px;
}

.socials img {
	width: 30px;
}

.top-header {
	padding-top: 70px;
	padding-bottom: 190px;
	background-color: #f4f5f7;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-text {
	width: 50%;
	color: #32325f;
}

.main-image {
	width: 50%;
}

.main-image img {
	width: 100%;
}

.subtitle {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	display: block;
}

.title {
	font-family: HelveticaBold;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 25px;
}

.desc {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 16px;
	line-height: 26px;
}

.price-tag {
	font-size: 20px;
	font-weight: 400;
	display: block;
	margin-bottom: 20px;
}

.price {
	font-size: 48px;
	font-weight: 400;
	display: block;
	margin-bottom: 50px;
}

.btn {
	font-family: HelveticaBold;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	padding: 21px 34px;
	border-radius: 6px;
	box-shadow: 0 3px 3px rgba(173, 173, 173, 1);
	margin-right: 30px;
}

.green {
	background-color: #2dce89;
}

.blue {
	background-color: #5e72e4;
}

.about {
	padding: 100px 0;
}

.about-wrap {
	display: flex;
}

.about-subtitle {
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 15px;
	display: block;
	color: #32325f;
}

.about-title {
	font-family: HelveticaBold;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 100px;
	color: #32325f;
}

.about-item span {
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #525f7f;
	margin-right: 35px;
	line-height: 1.2;
}

.about-item {
	width: 25%;
}

.about-item img {
	margin-bottom: 40px;
}

.footer {
	background-color: #32325f;
	padding-top: 80px;
	padding-bottom: 100px;
}

.footer-wrap {
	display: flex;
	justify-content: space-between;
}

.footer-block {
	width: 33%;
}

.footer-header {
	font-family: HelveticaBold;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 35px;
}

.footer-name {
	font-family: HelveticaBold;
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 7px;
}

.footer-link {
	font-family: HelveticaBold;
	text-decoration: none;
	color: #fff;
	display: block;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 7px;
}

.people {
	background-color: #f4f5f7;
	padding-top: 90px;
	padding-bottom: 110px;
}

.people-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.people-block {
	width: 32%;
	margin-bottom: 30px;
}

.people-block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.people-subtitle {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
	display: block;
	color: #32325f;
}

.people-title {
	font-family: HelveticaBold;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 65px;
	color: #32325f;
}


@media (max-width: 1080px) {
	.buttons {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.btn {
		display: inline-block;
		max-width: 250px;
		text-align: center;
		width: 100%;
		margin-top: 10px;
	}
}

@media (max-width: 768px) {
	.main-image, .main-text {
		width: 100%;
	}

	.main-text {
		order: 1;
		margin-top: 40px;
	}

	.main {
		flex-direction: column;
	}

	.navbar {
		margin-bottom: 100px;
	}

	.top-header {
		padding-bottom: 100px;
	}

	.price {
		margin-bottom: 30px
	}

	.about {
		padding: 80px 0 40px;
	}

	.about-wrap {
		flex-wrap: wrap;
	}

	.about-item {
		width: 50%;
		margin-bottom: 50px
	}

	.people-block {
		width: 48%;
	}

	.footer-wrap {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer-block {
		width: 50%;
		margin-bottom: 50px
	}
}

@media (max-width: 580px) {
	.about-item {
		width: 100%;
	}

	.about-title {
		margin-bottom: 50px
	}

	.people-title {
		margin-bottom: 30px
	}

	.footer-block {
		width: 100%;
		text-align: center
	}

	.footer {
		padding-bottom: 0;
	}
}